@model Survey.Application.SurveyService.Dto.SurveyWithOnlyFirstQuestionForUserDto

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Description</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12" id="survey_section">
            <form>
                <div class="tab-pane active" role="tabpanel" id="step_@Model.Answer.Id">
                    <h3>@Model.Answer.QuestionText</h3>

                    @Html.Hidden("QuestionId", Model.Answer.Id)

                    @if (Model.Answer.QuestionType == 0)
                    {

                        foreach (var r in Model.Answer.OfferedAnswers)
                        {
                            <div class="radio">
                                <label>
                                    @if (Model.Answer.OfferedAnswerIds.Any(a => a == r.Id))
                                    {
                                        <input required="" class="js-value" type="radio" checked="checked" name="Question" value="@r.Id" />@r.AnswerText
                                    }
                                    else
                                    {

                                        <input type="radio" class="js-value" required="" name="Question" value="@r.Id" />
                                        @r.AnswerText
                                    }
                                </label>
                            </div>
                        }
                    }

                    <ul class="list-inline pull-right">
                        @if (Model.Answer.PrevQuestion > 0)
                        {
                            <li><button type="button" class="btn btn-primary prev-step" data-survey="@Model.Id" data-prev="@Model.Answer.PrevQuestion">Anterior</button></li>

                        }
                        @if (Model.Answer.NextQuestion > 0)
                        {
                            <li><button type="button" class="btn btn-primary next-step" data-survey="@Model.Id" data-next="@Model.Answer.NextQuestion">Guardar y continuar</button></li>

                        }
                        else
                        {
                            <li><button type="button" class="btn btn-primary next-step" data-survey="@Model.Id" data-next="@Model.Answer.NextQuestion">Guardar y Finalizar</button></li>
                        }
                    </ul>
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts{
    <script>
        $("body").on("click", ".next-step", function () {
            var surveyId = $(this).data("survey");
            var nextId = $(this).data("next");

            var service = abp.services.app.survey;

            service.answerQuestion({
                SurveyId: surveyId,
                QuestionId: $("#QuestionId").val(),
                OfferedAnswerIds: [$("input:radio[name=Question]:checked").val()]
            }).done(function () {
                if (nextId == 0) {
                    window.location.reload();
                } else {
                    $("#survey_section").load("/Home/GetNextQuestion?questionId=" + nextId + "&surveyId=" + surveyId);
                }
                
            });


        });
    </script>
}